.git
**/node_modules
**/.bun
**/.env
**/.env.*
**/*.local
**/.direnv
**/.netlify
**/.nitro
**/.output
**/.playwright-cli
**/.tanstack
**/.vercel
**/.vinxi
**/.wrangler
**/coverage
**/dist
**/dist-ssr
**/.prettiercache
**/*.log
cli
.DS_Store
Thumbs.db
